In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

marketing_customer_analysis = pd.read_csv('marketing_customer_analysis.csv')
marketing_customer_analysis.head()

,Unnamed: 0,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,...,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1

In [2]:
marketing_data = marketing_customer_analysis.drop(['Unnamed: 0', 'unnamed: 0'], axis=1)
marketing_data.head()

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1

In [ ]:
# X-y split

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
y = marketing_data['customer lifetime value']
X = marketing_data.drop(['customer lifetime value'], axis=1)

# I choose the 'customer lifetime column', because the goal of this study 
# is to find what are the most profitable customers and 
# this variable seem the most representative for that matter

In [10]:
X_num = X.select_dtypes(include = np.number)

In [11]:
X_num

,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount,month
0,48029,61,7.000000,52,0.000000,9,292.800000,2
1,0,64,3.000000,26,0.000000,1,744.924331,1
2,22139,100,34.000000,31,0.000000,2,480.000000,2
3,49078,97,10.000000,3,0.000000,2,484.013411,1
4,23675,117,15.149071,31,0.384256,7,707.925645,1
...,...,...,...,...,...,...,...,...
10905,0,253,15.149071,40,0.384256,7,1214.400000,1
10906,61146,65,7.000000,68,0.000000,6,273.018929,1
10907,39837,201,11.000000,63,0.000000,2,381.306996,2
10908,64195,158,0.000000,27,4.000000,6,618.288849,2
10909,0,101,31.000000,1,0.000000,3,1021.719397,1

In [ ]:
# Normalizing

In [13]:
transformer = MinMaxScaler().fit(X_num)  
x_normalized = transformer.transform(X_num) 
pd.DataFrame(x_normalized, columns=X_num.columns)

,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount,month
0,0.480381,0.000000,0.200000,0.525253,0.000000,1.000,0.101171,1.0
1,0.000000,0.012658,0.085714,0.262626,0.000000,0.000,0.257445,0.0
2,0.221432,0.164557,0.971429,0.313131,0.000000,0.125,0.165875,1.0
3,0.490873,0.151899,0.285714,0.030303,0.000000,0.125,0.167263,0.0
4,0.236795,0.236287,0.432831,0.313131,0.076851,0.750,0.244657,0.0
...,...,...,...,...,...,...,...,...
10905,0.000000,0.810127,0.432831,0.404040,0.076851,0.750,0.419717,0.0
10906,0.611576,0.016878,0.200000,0.686869,0.000000,0.625,0.094333,0.0
10907,0.398446,0.590717,0.314286,0.636364,0.000000,0.125,0.131763,1.0
10908,0.642072,0.409283,0.000000,0.272727,0.800000,0.625,0.213674,1.0
10909,0.000000,0.168776,0.885714,0.010101,0.000000,0.250,0.353118,0.0

In [19]:
print(x_normalized.shape)

(10910, 8)